.Albums h4 {
  text-align: center;
}

.Albums .col-md-6 {
  padding: 0 10px;
}

.Albums .filters {
  text-align: center;
}

.Albums .filters .pagination {
  margin: 0 0 0.5em;
}

.Albums .filters .pagination li {
  cursor: pointer;
}
