.AlbumShow a {
  color: #515151;
  text-decoration: none;
}

.AlbumShow a:hover {
  color: #3c9a5f;
}

.AlbumShow .large-cover img {
  height: 315px;
  width: 315px;
  margin-top: 1em;
  margin-bottom: 1em;
  border: 1px solid #777;
  border-radius: 4px;
}

.AlbumShow .album-data h2 {
  display: inline;
  font-size: 1.8em;
}

.AlbumShow .album-data .icon {
  font-size: 0.8em;
  float: right;
  color: #515151;
  margin: 1em 0.5em;
}

.AlbumShow .album-data .icon .filter {
  color: #515151;
  cursor: pointer;
}

.AlbumShow .album-data .icon .filter:hover {
  color: #3c9a5f;
}

.AlbumShow .album-data table {
  margin-bottom: 0;
}

.AlbumShow .album-data tbody .visible {
  display: table-row;
}

.AlbumShow .album-data tbody .invisible {
  display: none;
}

.AlbumShow .album-data .tracks-gradient {
  position: absolute;
  bottom: 3em;
  left: 0;
  width: 100%;
  height: 10em;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), #fff);
}

.AlbumShow .album-data .tracks-less {
  margin-top: 0.5em;
}

.AlbumShow .album-data .tracks-less:before {
  font-family: 'FontAwesome';
  font-size: 0.9em;
  padding-right: 1em;
  content: '\f102';
}

.AlbumShow .album-data .tracks-more {
  margin-top: 0.5em;
}

.AlbumShow .album-data .tracks-more:before {
  font-family: 'FontAwesome';
  font-size: 0.9em;
  padding-right: 1em;
  content: '\f103';
}

.AlbumShow .comments .page-header h1 {
  font-size: 26px;
}

.AlbumShow .comments .page-header h1 small {
  font-size: 65%;
}

.AlbumShow .comments h4 {
  margin-bottom: 1em;
}
