.Artist {
  padding: 0.5em 0 0.5em 0.5em;
}

.Artist h2 {
  margin-top: 0.25em;
}

.Artist:hover {
  background: rgba(0, 0, 0, .025);
  border-radius: 0.25em;
}

.Artist a {
  text-decoration: none;
}

.Artists h4 {
  text-align: center;
}

.Artists .filters {
  text-align: center;
}

.Artists .filters .pagination {
  margin: 0 0 0.5em;
}

.Artists .filters .pagination li {
  cursor: pointer;
}

.Artist .icon {
  font-size: 0.75em;
}

.Artists .loading-spinner {
  text-align: center;
  font-size: 2em;
  color: #777;
}
