html {
  position: relative;
  min-height: 100%;
}

#nprogress .bar {
  background: #3c9a5f;
}

.PlattersBrand {
  font-family: 'Capriola', 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 1.2em;
}

.Main {
  margin-top: 4em;
  margin-bottom: 3em;
}

::selection {
  background: #9bd8b2;
}
::-moz-selection {
  background: #9bd8b2;
}

.ToastAlert {
  background-color: rgba(240, 65, 36, 0.95);
  border-radius: 3px;
  font-family: 'Open Sans';
  font-size: 0.9em;
  font-weight: lighter;
  width: 75vw;
}

.ToastAlert:before {
  font-family: "FontAwesome";
  content: "\f071";
  padding-top: 1em;
  margin: 0 0.5em;
}

.ToastNotice {
  background-color: rgba(67, 172, 106, 0.95);
  border-radius: 3px;
  font-family: 'Open Sans';
  font-size: 0.9em;
  font-weight: lighter;
  width: 75vw;
}

.ToastNotice:before {
  font-family: "FontAwesome";
  content: "\f05a";
  padding-top: 1em;
  margin: 0 0.5em;
}
