.MiscPage h4 {
  font-size: 1.1em;
}

.MiscPage a {
  color: #111;
  text-decoration: none;
}

.MiscPage a:hover {
  color: #3c9a5f;
}

.MiscPage .standout {
  color: #3c9a5f;
}

.MiscPage .todo {
  color: #f04124;
}
